*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right top, rgb(0, 238, 255), rgb(3, 167, 243));
    background-color: white;

}
.navbar{
    background:linear-gradient(to top , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navbar a img{
    width: 50px;
}

.navbar a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
}
.navbar a strong{
    padding: 10px;
    background-color: rgb(92, 108, 245);
    border-radius: 5px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.gym{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border-radius: 1rem;
    margin-top: 2rem;
    background: linear-gradient(to right top, rgb(170, 250, 246), rgb(49, 190, 255));
}

.gym-first-page,.gym2-first-page,.gym3-first-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
}

.gym-first-page img ,.gym2-first-page img,.gym3-first-page img{
    padding-top: 1rem;
}
.gym-first-page p ,.gym2-first-page p,.gym3-first-page p{
    padding-top: 1rem;
}

.gym div img{
    width:250px;
    height: 250px;
}
.footer{
    margin-top: 2rem;
    color: white;
    width: 100vw;
    height: 10vh;
    background-color:rgba(0, 0, 0, 0.3);
    padding-top: 4.5vh;
    text-align: center;}